# Ignore various file created by IDEs
__pycache__/
*.pyc
.env
.venv/
.venv_coref/
.DS_Store
.idea/
.vscode/
lib/

# Ignore auxiliary directories
data/book/scan
data/llm_config
data/models/
archive/
gen/
webapp/
artefacts/


# Ignore Jupyter Notebooks
*.ipynb
*.pdf

# Ignore all md-files except for README.md
*.md
!README.md

# Ignore other files
*.txt
*.zip
src/svo_graph_creation_deprecated.py
src/extraction_old
src/analysis
resolve_triple_conflicts.py
run_analysis_orig.py
download_spacy_models.py
model_server.py
model_server.log
src/verification/adjust_shift.py
src/analysis/ego_network_latest_but_dep.py
src/analysis/timeline_data.py
src/analysis/character_timeline.py
src/analysis/visualization/timeline_viz.py


# Ignore BookNLP Output files
# out/
out_latest/
out_new_coref/
out_owen/
out/ego_network/rank
out/*.csv
out/*.html
out/*.png
