# Ignore various file created by IDEs
__pycache__/
*.pyc
.env
.venv/
.DS_Store
.idea/
.vscode/
lib/

# Ignore auxiliary directories
data/book/scan
archive/
gen/
webapp/


# Ignore Jupyter Notebooks
*.ipynb
*.pdf

# Ignore all md-files except for README.md
*.md
README.md

# Ignore other files formats
# *.txt

# Ignore BookNLP Output files
# out/
